################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nx.SharePoint.Auth0/obj/Debug
