################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nx.SharePoint.Auth0/obj/Debug
/.vs/Nx.SharePoint.Auth0/v14/.suo
